<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="/css/cv-screen.css" type="text/css" rel="stylesheet" css="screen">
  <link href="/css/cv-print.css" type="text/css" rel="stylesheet" css="print">
</head>
<body>
  <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
